/* main.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: white;
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    overflow: hidden;
}

.button-container {
    display: flex;
    /* gap: 10px; */
    margin-top: 10px;
    justify-content: flex-start;
}

.button-container .btn {
    margin-right: 10px;
}

.slider-container {
    display: flex;
    justify-content: flex-start; /* Keeps the content (including the slider) aligned to the left */
    flex-direction: column;
    gap: 2px;
    width: 100%;
    max-width: 624px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-top: 10px;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers sliders horizontally in each row */
    align-items: center;
    gap: 10px;
    width: 100%;
}

.slider-label {
    font-size: 16px;
    flex-shrink: 0;
    text-align: right; /* Align the text to the left */
    width: 200px; /* Add a fixed width for the label */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 312px; /* Fixed width for the slider to ensure alignment */
    height: 5px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgba(134,199,134,255);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgba(134,199,134,255);
    border-radius: 50%;
    cursor: pointer;
}




canvas {
    border: 1px solid #000;
    width: 100%;
    max-width: 624px;
    height: auto;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    .button-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .button {
        width: 80%;
        margin: 10px 0;
    }
    .slider-container {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .canvas {
        width: 100%;
    }
}
