<!-- overlay.html -->
<div id="aboutOverlay" class="overlay">
    <div class="about-content">
        <span id="closeAbout" class="close-btn">X</span>
        <h2>Details</h2>
        <hr class="separator">
        <p>This Demonstration depicts the flow from a tank where the liquid is maintained at a constant height. It shows that the liquid's flow rate is proportional to the square root of its height. The program calculates the volumetric flow rate, <b>Q</b> (<b>m³/s</b>), using a slightly modified Bernoulli equation:</p>
        <pre><b>Q</b> = <math xmlns="http://www.w3.org/1998/Math/MathML"><mroot><mrow><mn>2</mn><mo>&#8290;</mo><mi>g</mi><mo>&#8290;</mo><mi>h</mi></mrow><mn>2</mn></mroot></math><b>c₀</b>π(<b>d/100</b>)²/4</pre>
        <p>Where <b>g</b> is the gravitational constant (<b>9.81 m/s²</b>), <b>h</b> is the liquid's height in the tank (<b>m</b>), <b>c₀</b> is the discharge (orifice) coefficient (dimensionless), and <b>d</b> is the drain diameter (<b>cm</b>). The corresponding mass flow rate (<b>kg/s</b>) is calculated by multiplying the volumetric flow rate, <b>Q</b>, by the liquid's density, <b>ρ</b> (<b>kg/m³</b>).</p>
        <p>The discharge coefficient <b>c₀</b> is related to the resistance coefficient, <b>k</b>, by the following equation:</p>
        <pre><b>k</b> = 1/<b>c₀</b>²</pre>
        <p>References:</p>
        <ul>
            <li>R. L. Earle and M. D. Earle, <i>Unit Operations in Food Processing</i>, NZIFST, Inc., 1983.</li>
            <li>V. L. Streeter, E. B. Wylie, and K. W. Bedford, <i>Fluid Mechanics</i>, 9th ed., Boston: WCB/McGraw-Hill, 1998.</li>
            <li>Sam Mannan, Frank P. Lee, <i>Lee's Loss Prevention in the Process Industries: Hazard Identification, Assessment and Control, Volume 1</i>, Elsevier Butterworth Heinemann, 2005. ISBN 978-0750678575.</li>
        </ul>
        <hr style="border-top: 2px solid maroon;">
    </div>
</div>
