<!-- overlay.html -->
<div id="aboutOverlay" class="overlay">
    <div class="about-content">
        <span id="closeAbout" class="close-btn">X</span>
        <h2>Related Links</h2>
        <hr class="separator">
        <p>References:</p>
        <ul>
            <li><a href="https://demonstrations.wolfram.com/TorricellisLawForTankDraining/" style="color:maroon;">Torricelli's Law for Tank Draining</a></li>
            <li><a href="https://demonstrations.wolfram.com/TorricellisTheorem/" style="color:maroon;">Torricelli's Theorem</a></li>
            <li><a href="https://demonstrations.wolfram.com/TankEquilibria/" style="color:maroon;">Tank Equilibria</a></li>
        </ul>
        <hr style="border-top: 2px solid maroon;">
    </div>
</div>
