<!-- overlay.html -->
<div id="aboutOverlay" class="overlay">
    <div class="about-content">
        <span id="closeAbout" class="close-btn">X</span>
        <h2>About</h2>
        <hr class="separator">
        <p>This Demonstration calculates and displays the volumetric and mass flow rates of a liquid maintained at a constant height in a tank as a function of the liquid's height <b>h</b> and density <b>ρ</b>, the drain pipe's diameter <b>d</b> and the discharge (orifice) coefficient <b>c₀</b>.</p>
        <p>It also plots the volumetric flow rate curve as a function of the liquid's height for the chosen drain diameter and discharge coefficient values and displays a schematic diagram of the system. The discharge (orifice) coefficient <b>c₀</b> characterises the relationship between actual flow and ideal flow through an orifice. An orifice with discharge coefficient of 1.0 behaves as if pressure drop across the orifice (<b>ΔP</b>) is zero. An orifice with a discharge coefficient near zero restricts flow significantly, even at large pipe diameters.</p>
        <hr style="border-top: 2px solid maroon;">
    </div>
</div>
